    <section class="container__section">
        <h2>Login</h2>
        <form action="action_page.php" method="post">

            <label for="uname"><strong>Username</strong></label>
            <input type="text" placeholder="Enter Username" name="uname" required>

            <label for="psw"><strong>Password</strong></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <label for="psw"><strong>Repeat Password</strong></label>
            <input type="password" placeholder="Repeat Password" name="re-psw" required>

            <div class="buttons">
                <button class="btn" type="submit">
                    <span>Register</span>
                    <svg
                        width="13px"
                        height="10px"
                        viewBox="0 0 13 10"
                    >
                        <path d="M1,5 L11,5"></path>
                        <polyline points="8 1 12 5 8 9"></polyline>
                    </svg>
                </button>
            </div>

        </form>
    </section>
{% endblock %}