{% extends "base.html" %}

{% block content %}
  <h1>Few words about 5_box_quiz - how it`s working?</h1>
    <section>
    <div class="not-found">
    <p>The goal is to learn Python through repeating 100 flashcards, five times each. How? Imagine five boxes. At the beginning all questions are inside the first box.
        If You see the question think carefully. If You know the answer click "I know" button and check the answer. The question will move to the second box.
        If You are not so sure about the correct answer choose "Next question" button so the flashcard will stay in the first box for another try.
        And so on until each question go through five boxes.
        Then You can say "I really know that stuff. I am really good at this" And You are right, You are just P-H-E-N-O-M-E-N-A-L :-)
        P.S. Questions are mainly from Python, but not only. Good luck!</p>
    </div>
    <div>
    <a href="{% url 'index' %}"><button class="button">Click here if You want to try the game</button></a>
    </div>
    </section>
{% endblock %}