<!DOCTYPE html>
<html {% if LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE }}"{% endif %}>

<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <title>5_box_quiz</title>
    {% load static %}
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
</head>

<body>
    <header>
        <div class="container header__section">
            <div class="logo">
                <a href="{% url 'index' %}">5_box_quiz</a>
            </div>
            <nav>
                <ul class="menu">
                    <li><a
                            href="{% url 'index' %}"
                            class="active"
                        >Home</a></li>
                    <li><a href="{% url 'leitner_system' %}">Leitner's method</a></li>
                    <li><a href="{% url 'about_quiz' %}">About Quiz</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    {% if user.is_authenticated %}                    
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% endif %}
                </ul>
                <div class="hamburger-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer class="container">
        <section class="footer">5_box_quiz 2023 Made with passion by GreenTeam.</section>
    </footer>

{#    <script src="script.js"></script>#}
</body>

</html>