{% extends "base.html" %}

{% block content %}
    <section class="container__section">
        <h2>Good luck and enjoy :-)</h2>
    </section>

    <section class="flashcard active">
        <div class="container__section--card flashcard-front">

            <p>{{ random_flashcard.question }}</p>
            <div class="buttons">
                <a
                    onclick="javascript:window.location.reload();"
                    class="btn next"
                >
                    <span>Next</span>
                    <svg
                        width="13px"
                        height="10px"
                        viewBox="0 0 13 10"
                    >
                        <path d="M1,5 L11,5"></path>
                        <polyline points="8 1 12 5 8 9"></polyline>
                    </svg>
                </a>
                <a
                    href="flashcard.html"
                    class="btn i-know"
                >
                    <span>I know</span>
                    <svg
                        width="13px"
                        height="10px"
                        viewBox="0 0 13 10"
                    >
                        <path d="M1,5 L11,5"></path>
                        <polyline points="8 1 12 5 8 9"></polyline>
                    </svg>
                </a>
            </div>
        </div>

        <div class="container__section--card flashcard-back">
            <p>{{ random_flashcard.answers }}</p>
             <div class="buttons">
                <a
                    onclick="javascript:window.location.reload();"
                    class="btn next"
                >
                    <span>Next</span>
                    <svg
                        width="13px"
                        height="10px"
                        viewBox="0 0 13 10"
                    >
                        <path d="M1,5 L11,5"></path>
                        <polyline points="8 1 12 5 8 9"></polyline>
                    </svg>
                </a>
            </div>
        </div>
    </section>

{% endblock %}