{% extends "base.html" %}

{% block content %}
  <h1>Leitner system - why is it so effective?</h1>
    <p></p>
    <section>
    <div class="not-found">
    <p>The main principle of the Leitner method is to repeat the material often enough to remember it,
        and infrequently enough not to waste time on revising what has already been memorized. The necessary learning tools are flashcards
        and a box for flashcards with five compartments, which guarantees the optimal number of repetitions. (https://blog.fiszki.pl)</p>
    </div>
    <div>
        <a href="https://en.wikipedia.org/wiki/Leitner_system"><button class="button">Click here to learn more</button></a>
    </div>
    </section>
{% endblock %}