{% extends "base.html" %}

{% block content %}
  <h1>Are YOU ready for the challenge?</h1>
    <section>
    <div class="not-found">
    <p>Prove Your skills in Python using flash cards. Answer following questions. It`s really simple: You KNOW the answer or You just DON`T ! </p>
    </div>
{#    <div>#}
{#    <a href="{% url 'login' %}"><button class="button">Sign in</button></a>#}
{#        <a href="{% url 'flashcard' %}"><button class="button">Start now!</button></a>#}
{#    </div>#}
    </section>
{% endblock %}